@import "./magic-layout.css";
@import "./magic-navbar.css";
@import "./magic-footer.css";


/* Magic Grid Container */

a.active,
a:hover {
  text-decoration: underline;
  color: #a0a;
}

#magic-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  z-index: 1;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 50px 1fr 50px;
  grid-template-areas:
    "hd hd"
    "nav nav"
    "main main"
    "ft ft";
  justify-content: center;
}

/* header */
header {
  grid-area: hd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-title {
  text-transform: uppercase;
  font-weight: lighter;
}

.header-subtitle {
  font-weight: lighter;
  font-size: 1.2em;
}

/* navigation & sidebar */
nav {
  grid-area: nav;
  display: flex;
  padding: 1rem 0;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin: 1rem;
}

.sidebar-pages {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.nav-sidebar {
  display: none;
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0f0f;
}

.nav-link:hover,
.nav-link.active {
  text-decoration: underline;
  color: #a0a;
}

.sidebar-list {
  list-style: none;
  line-height: 1.7;
}

.sidebar-list-item {
  margin-left: -2.5rem;
}

/* content  */
#main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    "post-top"
    "post-middle";
}

#post {
  grid-area: post-top;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 2rem;
  padding: 2rem;
  background: #fff;
  box-shadow: 2px 2px 6px grey;
  border-radius: 1%;
  max-width: 90%;
}

blockquote {
  flex: 1;
}

#post > p {
  flex: 1;
  margin-left: 2rem;
}

#post .meta {
  text-align: center;
}

#post .author {
  display: flex;
  align-items: center;
}

.author-info {
  margin-left: 1rem;
}

.author-info p {
  margin: 0;
}

.author-info .name {
  font-weight: bold;
}

.author-info .school-company {
  font-size: 0.8em;
}

.author-info .bio {
  font-size: 0.9em;
}

.author-info a {
  margin-right: 0.5rem;
}

.author-info .link-img {
  height: 20px;
}

.post-imgs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
}

.img-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  box-shadow: 2px 2px 6px grey;
  background: #fff;
  border-radius: 1%;
  max-width: 90%;
}

.img-card:hover {
  box-shadow: 2px 2px 6px 2px grey;
}

.img-card img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

/* footer */
footer {
  grid-area: ft;
  text-align: center;
}

.heart {
  color: #a0a;
}

#blog-article{
  grid-area: blog-article;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 2rem;
  padding: 2rem;
  background: #fff;
  box-shadow: 2px 2px 6px grey;
  border-radius: 1%;
  max-width: 90%;
}
/* media queries */
@media (min-width: 900px) {
  .container {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "nav nav nav nav nav nav main main blog-article blog-article"
      "ft ft ft ft ft ft ft ft";
  }

  nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: none;
    margin: 2rem 0;
  }

  .nav-hide {
    display: none;
  }

  .nav-sidebar {
    display: block;
  }

  .sidebar-pages {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0.5rem 0 2rem;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }

  .nav-link {
    padding: 1rem;
  }

  .sidebar-list-item {
    border-bottom: 1px dotted grey;
  }

  #main {
    grid-template-rows: 50% 50%;
  }

  #post {
    flex-direction: row;
    align-items: flex-start;
  }

  blockquote {
    flex: 1;
    margin-right: 2rem;
  }

  #post > p {
    flex: 1;
    margin-left: 0;
    margin-right: 2rem;
  }

  .post-imgs {
    flex-wrap: nowrap;
  }

  .img-card {
    flex-direction: row;
  }

  .img-card img {
    border-radius: 0;
    height: 100%;
  }
}
