nav {
	grid-area: nav;
	z-index: 6000;
	background: #bbb3b3 !important;
	box-shadow: 0 1px 20px 0 rgba(46, 61, 73, 0.2);
	display: flex;
	flex-flow: row wrap;
    width: 70% !important; 
    height: 130px;
    margin: auto !important; 
    padding: 5px !important; 
}

#nav-flex-logo {
	display: flex;
	font-family: "Lucida" Grande, sans-serif;
	font-size: 1.5em;
	color: #b44a4a;
	flex-flow: row nowrap;
	width: 100%;
	justify-content: center;
	align-items: center;
}

#logo {
	font-size: 1.2em;
	text-align: center;
	font-weight: 700;
	color: #590061 !important;
    margin-left: 5% !important;
}

#nav-ul {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
}

nav ul {
	list-style-type: none;
	font-size: 1em;
	margin: 0px;
	transition: all 0.3s;
}

li {
	padding: 0 5px;
}

.nav-item {
	list-style-type: none;
	margin: 5px;
}

.nav-item > a {
	color: #b44a4a;
	font-weight: 700;
	padding: 8px 20px;
	border-radius: 2px;
}

.nav-item > a:hover {
	color: #ffffff !important;
	background-color: #b44a4a;
	border: 1px solid #b44a4a;
}

.nav-item > a:active {
	color: #ffffff !important;
	background-color: #b44a4a;
	border: 1px solid #b44a4a;
}

.nav-item > a:visited {
	color: #b44a4a;
}

@media (min-width: 600px) {
	nav {
		height: 60px;
	}

	#nav-flex-logo {
		display: flex;
		flex-flow: row wrap;
		width: 40%;
		justify-content: flex-start;
		align-items: center;
	}

	#logo {
		font-size: 1.2em;
		text-align: center;
		margin-left: 0;
		font-weight: 600;
	}

	#nav-ul {
		display: flex;
		flex-flow: row wrap;
		width: 80%;
		justify-content: flex-end;
		align-items: center;
	}

	nav ul {
		list-style-type: none;
		font-size: 1em;
		margin: 0px;
		transition: all 0.3s;
	}
}